@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
    z-index: 1000;
}

.nav-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-top: -30px;
    background-color: black;
}

.logo{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    position: relative;
}

.logo span{
    color: #0ca0a0;
    text-shadow:  #0ca0a0;
}
.logo p:hover{
    color: #0ca0a0;
    text-shadow: 0  0 10px  #0ca0a0;
}
.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: 30px;
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #0ca0a0;
    transition: 0.5s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a:hover{
    color:  #0ca0a0;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-600px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow:  0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color:  #0ca0a0;
}

#home{
    width: 100%;
    height: 100vh;
    margin-top: -28px;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image{
    width: 500px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #0ca0a0;
    box-shadow: 0 0 50px #0ca0a0;
}

.main-container .image img{
    width: 100%;
}

.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1{
    margin-left: 60px;
    font-size: 50px;
}

.content h1 span{
    font-size: 60px;
    color:  #0ca0a0;
}
.content h1 span:hover{
    text-shadow: 0  0 10px  #0ca0a0;
}

.social-links{
    margin: 0px 200px;
}
.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 0.2rem solid #0ca0a0;
    border-radius: 50%;
    color: #0ca0a0;
    margin-left: 20px;
    margin-right: -50px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: #0ca0a0;
    filter: drop-shadow(0 0 10px #0ca0a0);
}

.content button{
    width: 30%;
    height: 6vh;
    margin-left: 70px;
    margin-right: -70px;
    margin-top: 30px;
    background-color: #0ca0a0;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}
.content button:hover{
    scale: 1.1;
    color: #0ca0a0;
    border: 2px solid #0ca0a0;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #0ca0a0;
}

/* About Section */
#about{
    margin: 10px 0px;
    padding-top: 120px;
    padding-bottom: 95px;
    background-color: #0c0523;
}

#image{
    float: right;
    margin-top: -100px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 20%;
    border: 3px solid #0ca0a0;
    box-shadow: 0 0 40px #0ca0a0;
}
#about h1{
    width: 800px;
    margin: auto;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: black;
    background-color: #069191;
    filter: drop-shadow(0 0 10px #0ca0a0);
}
#about h1:hover{
    color: white;
    text-shadow:  5px  2px 30px  rgb(54, 51, 51);
}

#about p{
    margin-top: 200px;
    margin-bottom: 150px;
    font-size: 25px;
    text-align: justify;
    padding: 0px 100px;
    line-height: 1.6;
    color: rgb(242, 238, 246);
}


/* Skills Section */
#skill{
    height: 1000px;
    margin: 100px 0px;
}
.skill-section{
    padding: 35px 0px;
    margin: auto;
}
.skills{
    width: 700px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    border: 3px solid #0ca0a0;
    box-shadow: 0px 0px 15px #0ca0a0, 0px 0px 5px #0ca0a0;
    list-style: none;
    background-color: rgb(2, 2, 35);
    text-transform: uppercase;
    transition: 3s linear;
}
.skills h1{
    font-size: 55px;
    text-align: center;
    color: #0c8ea0;
}
.skills h1:hover{
    color: rgb(238, 235, 235);
    box-shadow:10px  5px 50px  #0c8ea0;
}
.skills h3{
    color: #879cf0;
    font-size: 40px;
    margin: 20px;
    margin-top: -10px;
    text-shadow:0px 5px 5px #54063d;
}

.skills li{
    margin: 20px 0;
    padding: 10px;
}
.skills .icon{
    display: flex;
}

.bar{
    background: #353b48;
    display: block;
    height: 20px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.bar:hover{
    box-shadow: 0px 5px 20px #2424e0, 0px 5px 20px #333;
}
.bar span{
    height: 20px;
    float: left;
    background:linear-gradient(135deg, rgb(138, 46, 116)0%, rgb(182, 87, 14)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 80%;
    animation: css 3s;
}
.js{
    width: 60%;
    animation: js 3s;
}
.py{
    width: 40%;
    animation: py 3s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}
@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
    
}
@keyframes py {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}


/* Projects */
#projects{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}
#projects .project-column{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
#projects .heading{
    width: 800px;
    margin: -10px auto 120px;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: black;
    background-color: #069191;
    filter: drop-shadow(0 0 10px #0ca0a0);
}
#projects .heading:hover{
    color: white;
    text-shadow:  5px  2px 30px  rgb(54, 51, 51);
}
#projects img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.column{
    width: 400px;
    height: 665px;
    border-radius: 15px;
    background-color: #02143b;
    border-radius: 18px;
    border: 3px solid #0ca0a0;
    box-shadow: 0 0 40px #0ca0a0;
}
.column a{
    text-decoration: none;
}
#projects .column i{
    font-size: 30px;
    padding: 8px;
    color: white;
    border: 3px solid #0ca0a0;
    border-radius: 50%;
    color: #0ca0a0;
    margin: 20px 160px;
    transition: 0.2s linear;
}
#projects .column i:hover{
    scale: 1.3;
    color: black;
    background-color: #0ca0a0;
    filter: drop-shadow(0 0 10px #0ca0a0);
}
.column .bold{
    font-size: 30px;
    margin: 5px 15px;
    text-decoration:underline;
    text-align: justify;
    color: #0ca0a0;
}
.bold:hover{
    filter: drop-shadow(0 0 10px #0ca0a0);
}
.column p{
    font-size: 20px;
    color: white;
    margin: 5px 15px;
    text-align: justify;
}


/* Experience */
#experience{
    padding-top: 120px;
}
.expe{
    margin: 10px 200px;
    padding: 100px;
    background-color: rgb(2, 2, 35);
    gap: 20px;
    border: 3px solid #0ca0a0;
    box-shadow: 0 0 40px #0ca0a0;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
#experience .main-heading{
    width: 800px;
    margin: 50px auto 120px;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: black;
    background-color: #069191;
    filter: drop-shadow(0 0 10px #0ca0a0);
}
#experience .heading{
    margin: 0px auto 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #0c8ea0;
    text-decoration: none;
}
#experience .main-heading:hover{
    color: white;
    text-shadow:  5px  2px 30px  rgb(54, 51, 51);
}
.text{
    text-align: justify;
    margin: 0px 80px;
    font-size: 20px;
    color: #f3f6f7;
}

/* Education */
#education{
    padding-top: 100px;
}
.details{
    margin: 10px 200px;
    padding: 50px 30px;
    background-color: rgb(2, 2, 35);
    border: 3px solid #0ca0a0;
    box-shadow: 0 0 40px #0ca0a0;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    text-decoration: underline;
}
#education .heading{
    width: 800px;
    margin: 80px auto 120px;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: black;
    background-color: #069191;
    filter: drop-shadow(0 0 10px #0ca0a0);
}
#education .heading:hover{
    color: white;
    text-shadow:  5px  2px 30px  rgb(54, 51, 51);
}
#education .edu, a{
    margin: 10px 20px;
    color: #f1eaea;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
}
.educ{
    margin-left: 40px;
    color: #f1eaea;
    text-align: left;
    font-size: 20px;
}
#education .bold{
    margin: 0px 20px;
    font-size: 25px;
    color: #0ca0a0;
    text-decoration: underline;
}
#education i{
    color: #5c5cf8;
}
#education img{
    float: right;
    margin-top: -300px;
    margin-right: 40px;
    border-radius: 20px;
    border: 3px solid #0ca0a0;
    box-shadow: 0 0 30px #0ca0a0;
}

#contact{
    height: 930px;
    padding: 130px 0px;
    background-color: black;
}
.contact-section h1{
    width: 800px;
    margin: -10px auto 120px;
    text-align: center;
    font-size: 50px;
    color: black;
    background-color: #069191;
    filter: drop-shadow(0 0 10px #0ca0a0);
}

.contact-me a{
    font-size: 25px;
    font-weight: bold;
    margin-left: 200px;
}

.contact-me a i{
    width: 4.5rem;
    height: 4.5rem;
    border: 0.2rem solid #0ca0a0;
    border-radius: 50%;
    color: #0ca0a0;
    margin: 20px;
    font-size: 2.5rem;
    transition: 0.2s linear;
}
.contact-me a i:hover{
    scale: 1.3;
    color: black;
    background-color: #0ca0a0;
    filter: drop-shadow(0 0 10px #0ca0a0);
}
.box{
    width: 550px;
    padding: 50px;
    margin-right: 200px;
    margin-top: -380px;
    float: right;
    background-color: #100f17;
    border: 3px solid #0ca0a0;
    box-shadow: 0px 0px 20px #0ca0a0;
}
.box h2{
    font-size: 30px;
    color: #f1eaea;
    text-align: center;
    margin-bottom: 20px;
}
.box input[type="text"],
     input[type="email"],
     input[type="message"]{
        width: 450px;
        margin-bottom: 30px;
        border: none;
        outline: none;
        padding: 15px;
        font-size: 16px;
        border-radius: 15px;
}
.box button{
    width: 35%;
    height: 6vh;
    margin: 10px 140px;
    background-color: #0ca0a0;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    transition: 0.2s linear;
}
.box  button:hover{
    scale: 1.1;
    color: #0ca0a0;
    border: 2px solid #0ca0a0;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #0ca0a0;
}
.contact-section .contact-me i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border: 0.2rem solid #0ca0a0;
    border-radius: 50%;
    color: #0ca0a0;
    font-size: 2.5rem;
    transition: 0.2s linear;
}
.github{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border: 0.2rem solid #0ca0a0;
    border-radius: 50%;
    color: #0ca0a0;
    margin-left: 800px;
    margin-right: -800px;
    margin-top: 190px;
    font-size: 2.5rem;
    transition: 0.2s linear;
}
.linkdin{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border: 0.2rem solid #0ca0a0;
    border-radius: 50%;
    color: #0ca0a0;
    margin-left: 800px;
    margin-right: -800px;
    margin-top: 190px;
    font-size: 2.5rem;
    transition: 0.2s linear;
}
.footer{
    height: 100px;
    padding: 40px;
    background-color: #161717;
    text-align: center;
}
.footer p{
    color: white;
    font-size: 20px;
}

.contact-section i:hover{
    scale: 1.3;
    color: black;
    background-color: #0ca0a0;
    filter: drop-shadow(0 0 10px #0ca0a0);
}
@media all and (max-width:1514px) and (min-width:1200px){
    #contact{
        height: 950px;
    }
    .contact-me a{
        margin-left:50px ;
    }
    .box{
        margin-right: 50px;
    }
    .github{
        margin-left: 650px;
    }
}
@media all and (max-width: 1200px) and (min-width:1024px){
    nav{
        z-index: 1000;
    }
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 3.5rem;
    }
    .nav-container{
        height: 120px;
    }

    .nav-container .links{
        margin-left: 340px;
    }
    .nav-container .link a{
        font-size: 15px;
    }
    
    .content h1{
        font-size: 40px;
        margin-left: 170px;
    }
    
    .content h1 span{
        font-size: 55px;
    }
    
    .main-container .content{
        width: 100%;
    }

    .social-links i{
        margin-left: 125px;
        margin-right: -110px;
    }

    .main-container .image{
        z-index: -1;
        width: 55%;
        height: 40%;
        margin-left: 50px;
    }
    .content button{
        width: 25%;
        height: 55px;
        margin-left: 220px;
        margin-right: -200px;
        font-size: 20px;
    }
    #about{
        padding: 150px 0px;
        width: 100%;
        height: 865px;
    }
    
    #about p{
        font-size: 23px;
        margin-top: 50px;
        padding: 70px 80px;
    }
    #image{
        width: 25%;
        margin-right: 50px;
        margin-left: 60px;
        margin-top: 90px;
    }
    #skill{
        height:700px;
        padding-top: 100px;
    }
    .skills{
        width: 650px;
        margin: 20px auto;
    }
    .skills h1{
        font-size: 50px;
    }
    .skills h3{
        font-size: 33px;
        margin: 10px;
        margin-top: -10px;
    }
    
    .skills li{
        margin: 10px 0;
    }
    .skills .icon .html5{
        height: 30px;
    }
    .icon .css3{
        height: 30px;
    }
    .icon .java{
        height: 30px;
    }
    .icon .python{
        height: 30px;
    }
    #projects{
        padding-top: 150px;
    }
    .column{
        width: 380px;
        height: 655px;
    }
    .column img{
        width: 375px;
        height: 230px;
    }
    #projects .column i{
        font-size: 30px;
        margin: 20px 140px;
    }
    .column p{
        font-size: 20px;
    } 
    
    .expe{
        width: 92%;
        margin: auto;
    }
    .expe .heading{
        margin-top: -50px;
    }
    .text{
        margin: 50px;
        font-size: 22px;
    }
    .details{
        width: 92%;
        margin: auto;
    }
    #education{
        padding-bottom: 100px;
    }
    #education img{
        width: 330px;
        margin-right: 5px;
    }

    #education .edu, a{
        margin: 16px;
        font-size: 22px;
    }
    .educ{
        margin-left: 35px;
        font-size: 20px;
    }
    #contact{
        height: 670px;
        padding: 40px;
    }
    .contact-me a{
        font-size: 20px;
        margin-left: 0px;
    }
    .contact-section .contact-me i{
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2rem;
    }
    .github, .linkdin{
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2rem;
        /* margin: 80px auto; */
        margin: 80px -450px 0px 450px;
    }
    .box{
        width: 400px;
        margin-top: -350px;
        padding: 17px;
        margin-right: 20px;
    }
    .box h2{
        font-size: 25px;
    }
    .box input[type="text"],
         input[type="email"],
         input[type="message"]{
            width: 360px;
            padding: 12px;
            font-size: 14px;
            border-radius: 10px;
    }
    .box button{
        width: 30%;
        margin: 10px 120px;
        font-size: 18px;
        border-radius: 10px;
    }
}
@media  all and (min-width:700px) and (max-width:800px){
    nav{
        z-index: 1000;
    }
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 3.2rem;
    }
    .nav-container{
        margin-top: -50px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,
    .cancel{
        display: block;
    }
    #home{
        margin-top: -50px;
    }
    
    .content h1{
        font-size: 40px;
        margin-left: 170px;
    }
    
    .content h1 span{
        font-size: 55px;
    }
    
    .main-container .content{
        width: 100%;
    }

    .social-links i{
        margin-left: 110px;
        margin-right: -130px;
    }

    .main-container .image{
        z-index: -1;
        width: 42%;
        height: 34%;
        margin-left: 50px;
    }

    .content button{
        width: 20%;
        height: 50px;
        margin-left: 220px;
        margin-right: -200px;
        font-size: 17px;
    }
    #about{
        width: 800px;
        height: 930px;
        margin: 0px;
        padding-top: 50px;
    }
    #about h1{
        width: 350px;
    }
    #about p{
        font-size: 20px;
    }
    #about #image{
        width: 30%;
        margin: -120px 280px 40px;
    }
    #skill{
        padding-top: 100px;
        height:550px;
    }
    .skill-section{
        padding: 20px;
        margin-left: 40px;
    }
    .skills{
        width: 500px;
        margin: -100px auto;
        color: #fff;
        padding: 5px;
    }
    .skills h1{
        font-size: 45px;
    }
    .skills h3{
        color: #879cf0;
        font-size: 30px;
        margin: 10px;
        margin-top: -10px;
    }
    
    .skills li{
        margin: 10px 0;
    }
    .skills .icon .html5{
        height: 25px;
    }
    .icon .css3{
        height: 25px;
    }
    .icon .java{
        height: 25px;
    }
    .icon .python{
        height: 25px;
    }

    #projects{
        width: 800px;
        padding-top: 90px;
    }

    #projects .heading{
        width: 350px;
    }
    .column{
        width: 550px;
        height: 675px;
    }
    .column img{
        width: 544px;
        height: 300px;
    }
    #projects .column i{
        font-size: 40px;
        margin: 20px 220px;
    }
    .column .bold{
        font-size: 40px;
        margin: 5px 15px;
    }
    .column p{
        font-size: 20px;
        color: white;
        margin: 5px 15px;
        text-align: justify;
    }
    .bar{
        height: 15px;
        margin: 15px 0px;
    }

    .expe, .details{
        margin-left: 55px;
        margin-right: 50px;
        width: 685px;
    }
    #experience .main-heading{
        margin-left: 160px;
        width: 500px;
    }
     .expe{
        padding: 70px 40px;
     }
     #experience .heading{
        font-size: 32px;
     }
    .details{
        padding: 30px 80px;
    }
    #education .heading{
        margin-left: 160px;
        width: 500px;
    }
    #education img{
        float: none;
        margin-top:50px;
        margin-left: 100px;
    }

    #contact{
        height: 1230px;
        padding: 0px;
    }
    
    .contact-me a{
        font-size: 22px;
        margin-left: 120px;
    }
    
    .github, .linkdin{
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2.5rem;
        margin: 30px -300px 0px 290px;
    }
    .box{
        float: none;
        margin-top: 80px;
        margin-left: 130px;
    }
    
    .contact-section h1{
        width: 300px;
        font-size: 45px;
        margin-top: 100px;
        margin-left: 250px;
    }
    
    .footer{
        width: 800px;
        height: 80px;
        padding: 30px;
    }
    .footer p{
        font-size: 18px;
    }
   
}











