@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.logo span{
    color: #0ca0a0;
    text-shadow:  #0ca0a0;
}
.logo p:hover{
    color: #0ca0a0;
    text-shadow: 0  0 10px  #0ca0a0;
}
.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: 30px;
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #0ca0a0;
    transition: 0.5s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a:hover{
    color:  #0ca0a0;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow:  0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color:  #0ca0a0;
}

section{
    width: 100%;
    height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image{
    width: 500px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 50px #0ca0a0;
}

.main-container .image img{
    width: 100%;
}

.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1{
    font-size: 50px;
}

.content h1 span{
    font-size: 60px;
    color:  #0ca0a0;
}
.content h1 span:hover{
    text-shadow: 0  0 10px  #0ca0a0;
}


.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #0ca0a0;
    border-radius: 50%;
    color: #0ca0a0;
    margin: 10px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: #0ca0a0;
    filter: drop-shadow(0 0 10px #0ca0a0);
}

.content button{
    width: 30%;
    height: 6vh;
    margin: 30px;
    background-color: #0ca0a0;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}
.content button:hover{
    scale: 1.1;
    color: #0ca0a0;
    border: 2px solid #0ca0a0;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #0ca0a0;
}

/* About Section */
.left-side{
    float: right;
    padding: 100px 100px;
}
#image{
    border-radius: 50%;
    width: 70%;
    box-shadow: 0 0 40px #0ca0a0;
}
.info h1{
    padding: 100px;
    text-align: center;
    font-size: 60px;
    font-style: italic;
    color: #a2c9cb;
    cursor: pointer;
}
.info p{
    font-size: 30px;
    text-align: justify;
    padding: 0 300px;
    line-height: 1.6;
    color: rgb(242, 238, 246);
    font-weight: bold;
}

.skills{
    margin:auto;
}

.html, .css, .js, .py{
    display: flex;
}
.html i{
    font-size: 80px;
    color: #476cf2;
}
.html, .css, .js, .py, p{
    margin: 0px 150px 0px 50px;
    font-size: 50px;
    color: azure;
    font-weight: bold;
}
.html p:hover{
    color: #0ca0a0;
    text-shadow: 0  0 10px  #0ca0a0;
}
.html .box{
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    height: 30px;
    width: 600px;
    background-color: #476cf2;
}
.html .box:hover{
    box-shadow: 0px 0px 18px #476cf2;

} 
.css i{
    font-size: 80px;
    color: #f92a18;
}
.css p:hover{
    color: #0ca0a0;
    text-shadow: 0  0 10px  #0ca0a0;
}
.css .box{
    margin-top: 20px;
    margin-left: 55px;
    border-radius: 15px;
    height: 30px;
    width: 500px;
    background-color: #f92a18;
}
.css .box:hover{
    box-shadow: 0px 0px 18px #f92a18;
} 
.js i{
    font-size: 80px;
    color: #edbf19;
}
.js p{
    margin-left: 35px;
}
.js p:hover{
    color: #0ca0a0;
    text-shadow: 0  0 10px  #0ca0a0;
}
.js .box{
    margin-top: 20px;
    margin-left:-115px;
    border-radius: 15px;
    height: 30px;
    width: 300px;
    background-color: #edbf19;
}
.js .box:hover{
    box-shadow: 0px 0px 18px #edbf19;
} 
.py i{
    font-size: 80px;
    color: #071652;
}
.py p{
    margin-left: 35px;
}
.py p:hover{
    color: #0ca0a0;
    text-shadow: 0  0 10px  #0ca0a0;
}
.py .box{
    margin-top: 20px;
    margin-left:-20px;
    border-radius: 15px;
    height: 30px;
    width: 300px;
    background-color: #16075f;
}
.py .box:hover{
    box-shadow: 0px 0px 18px #16075f;
} 
.skills h1{
    margin-top: 120px;
    margin-left: 500px;
    margin-bottom: 40px;
    font-size: 70px;
    font-style: italic;
    color: #f1985c;
}
.contact-section h1{
    padding: 150px;
    text-align: center;
    font-size: 90px;
    font-style: italic;
    color: #079999;
}
.contact-section h1:hover{
    text-shadow:  5px  5px 10px  #0ca0a0;
}

.contact-form{
    padding: 0 220px;
}
.contact-form a{
    color: hsl(205, 89%, 40%);
}
.contact-form label b{
    font-size: 55px;
    margin-right: 20px;
    color: rgb(7, 243, 251);
}
.contact-form label b:hover{
    text-shadow: 5px  5px 10px  #0ca0a0;
}
.contact-form label{
    font-size: 45px;
    line-height: 1.6;
    color: #f3f6f7;
}
.contact-form input{
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 18px rgba(168, 183, 9, 0.5);
}
@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,
    .cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 35%;
    }
}

@media (max-width:440px){
    .main-container .image{
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }

    .main-container .content{
        width: 80%;
    }

    .main-container button{
        margin-top: 15px;
    }
}










